@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

/* Default Style
------------------------------------------------*/
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, 
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video
    {
        font-family: 'Helvetica', 'Arial', sans-serif;
        
        font-size: 13px;

        margin:0;
        padding:0;

        vertical-align:baseline;
        vertical-align:baseline;

        border:0;
        outline:0;
        background:transparent;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section
    {
        display:block;
    }

    nav ul
    {
        list-style: none;
    }

    pre
    {
        margin: 5px 0;
        padding: 7px;

        border: 1px solid #bbbbbb;
        border-radius: 7px;
        background: #d8d8d8;
        text-shadow: 1px 1px #fff;
    }

    code
    {
        display: block;

        margin: 5px 0;
        padding: 7px;

        border: 1px solid #bbbbbb;
        border-radius: 7px;
        background: #d8d8d8;
        text-shadow: 1px 1px #fff;
    }

    ins
    {
        text-decoration:none;

        background-color:#fdfc9b;
    }

    mark
    {
        font-weight:bold;
        font-style:italic;

        background-color:#fdfc9b;
    }

    del
    {
        text-decoration: line-through;
    }

    abbr[title], dfn[title]
    {
        cursor:help;

        border-bottom:1px dotted;
    }

    hr
    {  
        float: none;  
        clear: both;

      
        width: 100%;
        height:1px;
        margin: 7px 0;

        border: none;
        background: #9f9f9f;
    }

    input, select
    {
        vertical-align:middle;
    }

    select
    {
        padding: 3px 4px;

        border: 1px solid #ACACAC;
        border-radius: 4px;
    }

    /* Global Style
    ------------------------------------------------*/

    body
    {
        margin: 0px auto;
        padding: 0px;

        color: #312030;
        background: url(images/Bottom_texture.jpg) repeat-x fixed;
        background-color: #000000;
    }

    a:link, a:visited
    {
        color: #855782;
    }

    a:hover, a:active
    {
        color: #6E6E6E;
    }

/* Layout (begin) */
    .wrapper 
    {
        width: 92%;
        min-width: 960px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
    }

    /* Type slider (begin) */
    .wrapper_type_slider
    {
        line-height: 0;

        text-align: center;

        background: rgba(255,255,255,0.1);
    }
    /* Type slider (end) */
/* Layout (end) */

/* Header (begin) */
    .header 
    {
        position: relative;

        width: 100%;
    }

    .header__logo 
    {
        width: 300px;
    }

    .header #site-slogan 
    {
        margin: 0;

        color: #959595;
        text-shadow: 1px 1px #fff;
    }

    #header-social
    {
        float: right;

        margin-top: 23px;
        padding: 0;
    }

    #header-social li
    {
        display: inline;
        float: left;

        margin-right: 10px;

        list-style: none;
    }

    .header__search
    {
        position: absolute;
        top: 0;
        right: 0;

        width: 230px;
        padding: 0;

        text-align: right;
    }

    .header__search .form-text
    {
        height: 26px;
        padding: 0px 5px 0px 38px;

        border: none;
        background: url("http://simferopol.wol.com.ua/wp-content/themes/wordpress/images/search.png") no-repeat transparent;
    }

    .header__search .content
    {
        margin: 0;
    }

    .header__search .form-submit
    {
        height: 25px;
        margin: 0;
        padding: 4px 7px;

        cursor: pointer;

        color: #ffffff;
        border: none;
        border-radius: 0;
        background: transparent url(images/background_nav.png);
        text-shadow: none;
    }

    .header__search .form-submit:hover
    {
        background: #676767;
    }

    /* Main menu (begin)*/
        .main-menu
        {
            position: relative;

            clear: both;

            width: 100%;
            height: 40px;

            /* text-transform: uppercase; */
            background: #464646;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, #464646 0%, #1a1a1a 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#1a1a1a));
            background: -webkit-linear-gradient(top, #464646 0%,#1a1a1a 100%);
            background: -o-linear-gradient(top, #464646 0%,#1a1a1a 100%);
            background: -ms-linear-gradient(top, #464646 0%,#1a1a1a 100%);
            background: linear-gradient(top, #464646 0%,#1a1a1a 100%);
        }

        .menu .menu
        {
            position: absolute;
            z-index: 1000;
            top: 100%;
            left: 0;

            visibility: hidden;

            text-transform: none;

            color: #1e1d1b;
            background: #eeeeee;
        }

        .menu .menu .menu
        {
            top: 0;
            left: 100%;
        }

        /* Пункты меню (begin) */ /**/
            .menu .leaf,
            .menu .expanded
            {
                position: relative;

                float: left;
            }

            .menu .menu .leaf,
            .menu .menu .expanded
            {
                float: none;
            }

            .menu .menu .leaf:hover,
            .menu .menu .expanded:hover
            {
                background: #1a1a1a;
            }

            .menu .leaf:hover > .menu,
            .menu .expanded:hover > .menu
            {
                visibility: visible;
            }
        /* Пункты меню (end) */ /**/

        /* Ссылки (begin) */ /**/
            .menu a
            {
                font-size: 15px;
                line-height: 40px;

                display: inline-block;

                padding: 0 15px;

                white-space: nowrap;
                text-decoration: none;

                color: #9e9e9e;
            }

            .menu .menu a
            {
                text-decoration: none;

                color: #383838;
            }

            .menu a:hover
            {
                text-decoration: none;

                color: #A53C9E;
            }

            .menu .active
            {
                text-decoration: none;

                color: #fff;
            }

            .menu .menu .active
            {
                text-decoration: none;

                color: #383838;
            }
        /* Ссылки (end) */ /**/
    /* Main menu (end) */
/* Header (end) */



/* Slideshow (begin) */
    .slideshow
    {
        display: inline-block;

        white-space: nowrap;
    }

    .slideshow__banners,
    .scroller
    {
        display: inline-block;
    }

    /* MyWidget styles (begin) */ /**/
        .my_toggle__elem
        {
            z-index: 0;

            width: 715px;
            height: 283px;

            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;

            opacity: 0;
        }

        .my_toggle__elem-vis-yes
        {
            z-index: 100;

            opacity: 1;
        }

        .my_toggle__elem .slideshow__banners-images-big
        {
            z-index: 0;
        }

        .my_toggle__elem-vis-yes .slideshow__banners-images-big
        {
            z-index: 100;
        }

    /* MyWidget styles (end) */ /**/

    .slideshow__banners
    {
        position: relative;

        overflow: hidden;

        width: 715px;
        height: 279px;
    }

    .slideshow__banners-images-big
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    .scroller
    {
        position: relative;

        overflow: hidden;

        width: 236px;
        height: 279px;

        white-space: normal;
    }

    .scroller__banners
    {
        position: absolute;
        bottom: 0;

        width: 236px;

        border-spacing: 0;

        -webkit-transition: margin-bottom 1s ease-in-out;
        -moz-transition: margin-bottom 1s ease-in-out;
        -o-transition: margin-bottom 1s ease-in-out;
        transition: margin-bottom 1s ease-in-out;

        border: none;
    }

    .slider
    {
        vertical-align: bottom;

        opacity: 0.7;
    }

    .slider:hover
    {
        opacity: 1.0;
    }

    .arrow
    {
        position:absolute;
        top:240px;
        left:0;

        width:236px;
        height:50px;

        text-align:center;
    }
/* Slideshow (begin) */



/* Breadcrumb (begin) */
    .breadcrumb
    {
        line-height: 3em;

        margin-left: 7px;
    }

    .breadcrumb a
    {
        color: #585858;
    }

    .breadcrumb a:hover
    {
        text-decoration: none;

        color: #000;
    }
/* Breadcrumb (end) */

/* Content (begin) */
    /* Main content (begin) */
        .main
        {
            display: table;

            width: 100%;
        }

        .main__content
        {
            display: table-cell;

            width: 70%;

            vertical-align: top;

            background: #ffffff;
        }

        .main__aside
        {
            display: table-cell;

            width: 30%;

            background: #e7e7e7;
            -webkit-box-shadow:inset 2px 0px 6px #b2b2b2;
            -moz-box-shadow:inset 2px 0px 6px #b2b2b2;
            box-shadow:inset 2px 0px 6px #b2b2b2;
        }
    /* Main content (end) */

    /* First page content (begin) */ /**/
        .content__aside
        {
            display: inline-block;

            width: 35%;

            vertical-align: top;
        }

        .content__article
        {
            display: inline-block;

            width: 65%;
        }
    /*  First page content (end) */ /**/

    /* Service (begin) */ /**/
        .service
        {
            width: 90%;
            margin: 0 auto 10px;
            padding:5px 10px 5px 10px;
        }

        .service__time
        {
            margin-left: 1.7em;
        }
    /* Service (end) */ /**/

    /* Events (begin) */ /**/
        .events
        {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 1em;

            white-space: nowrap;
        }

        .events__date
        {
            display: inline-block;

            margin-right: 10px;
            padding: 3px 10px 0px;

            vertical-align: top;

            background: #E7E7E7;
        }

        .events__info
        {
            display: inline-block;

            width: 80%;

            white-space: normal;
        }

        .events__date-month,
        .events__date-day
        {
            text-align: center;
        }

        .events__date-day
        {
            font-size: 125%;
        }

        .events__info-title,
        .events__info_adr
        {
            white-space: normal;
        }
    /* Events (end) */ /**/

    /* Main header (begin) */ /**/
        .block-header
        {
            font-size: 120%;
            line-height: 1.9em;

            margin: 20px 3% 5px;
            padding-left: 35px;

            border-bottom: 1px solid #969696;
            background: url(images/blockheader.png) 5px 0 no-repeat;
        }

        .main__content .block-header
        {
            margin: 20px 6% 20px;
        }
    /* Main header (end) */ /**/

    /* Sermons vid (begin) */ /**/
        .sermons-vid
        {
            width: 200px;
            margin: 0 auto 20px;

            background-color: #000;
        }

        .sermons-vid--row
        {
            padding: 0 20px 10px;

            color: #a7a7a7;
        }
    /* Sermon vids (end) */ /**/

    /* Page title (begin) */ /**/
        .title
        {
            font-size: 150%;

            margin-bottom: 1em;
            margin-left: 6%;
        }
    /* Page title (end) */ /**/

    /* Content (begin) */ /**/
        .content
        {
            margin: 0 6% 20px;
        }

        .content .events
        {
            width: 100%;
        }

        .content .content
        {
            margin: 0;
        }

        .content .content p,
        .content .content div
        {
            margin-bottom: 1em;
        }

        .content .content ol,
        .content .content ul
        {
            margin-bottom: 1em;
        }

        .content .content ol li,
        .content .content ul li
        {
            margin-bottom: .5em;
        }
    /* Content (end) */ /**/
/* Content (begin) */



/* Footer (begin) */
    #footer
    {
        clear: both;

        width: 951px;

        color: #444444;
    }

    #footer a
    {
        text-decoration: none;

        color: #676767;
    }

    #footer a:hover
    {
        text-decoration: none;

        color: #000;
    }

    #footer h2
    {
        font-weight: bold;

        color: #000;
    }

    #footer ul
    {
        margin: 0;
        padding: 0;
    }

    #footer li
    {
        padding: 4px 0 4px 17px;

        list-style: none;
        list-style-image: none;

        border-bottom: 1px dotted #464646;
        background: url(images/sidebar-arrow.png) no-repeat left center;
    }

    .first-footer
    {
        float: left;

        width: 230px;
    }

    .second-footer
    {
        float: left;

        width: 230px;
        margin-left: 20px;
    }

    #copyright
    {
        margin-bottom: 10px;
        padding-top: 4px;

        color: #949494;
    }

    .footer_friend
    {
        margin:11px 0 0 15px;
    }

    .art-footer
    {
        position: relative;

        overflow: hidden;

        width:951px;
        height:50px;
        margin: 0px auto;

        background: url(images/fon_content_bottom_50.jpg) no-repeat #E7E7E7;
    }
/* Footer (end) */



/* Profile (begin) */
    .profile
    {
        margin: 1.5385em 0;
    }

    .profile dd
    {
        margin-bottom: 1.5385em;
    }

    .profile h3
    {
        border: none;
    }

    .profile dt
    {
        margin-bottom: 0;
    }

    .password-parent
    {
        width: 36em;
    }
/* Profile (end) */



/* Comment (begin) */
    #comments
    {
        clear: both;

        margin-top: 14px;
        padding: 5px;

        border: 1px solid #dddddd;
        border-radius: 8px;
    }

    .comment
    {
        min-height: 150px;
        margin-bottom: 1.5em;
        padding: 5px;

        border-bottom: 1px solid #d9d9d9;
        border-radius: 7px;
    }

    h3.comment-title a
    {
        font-size: 16px;

        margin-bottom: 5px;

        color: #67696d;
    }
    .comment .new
    {
        margin-left: 1em;

        text-transform: capitalize;

        color: red;
    }

    .form-textarea-wrapper textarea
    {
        color: #949494;
        border: 1px solid #acacac;
        border-radius: 3px;
    }

    .comment .submitted
    {
        display: inline;

        background: #e5e5e5;
    }

    .comment .user-picture
    {
        float: left;

        margin-right: 7px;
        margin-bottom: 7px;
        padding: 4px;

        border: 1px solid #d9d9d9;
    }

    .comment-new-comments
    {
        display: none;
    }
/* Comment (end) */



/* Navigation (begin) */
    .item-list .pager li
    {
        margin-right: 4px;

        border-radius: 3px;
        background: #cfcfcf;
        text-shadow: 1px 1px #fff;
    }
/* Navigation (end) */

/* Scrool to top (begin) */
    .backtotop
    {
        width:53px;
        height:53px;

        background:url(images/goup.png) no-repeat;
    }
/* Scrool to top (end) */



/* Sermons (begin) */
    .sermons_series
    {
        font-size:12px;

        float:left;

        width:210px;
        margin:5px;
    }

    .sermons_series_img
    {
        height:80px;
        padding-top:10px;
        padding-left:10px;

        background: url(images/sermon-bg.gif) no-repeat;
    }

    .title_sermons_series
    {
        font-weight:bold;

        margin-left:5px;

        color:#412A3F;
    }

    .title_sermons_series a
    {
        text-decoration: none;
    }

    .title_sermons_series a:hover
    {
        text-decoration:underline;
    }

    .text_sermons_series
    {
        margin-left:5px;

        color:#000000;
    }

    .sermon_property
    {
        display: inline-block;
    }

    .sermons
    {
        margin-bottom: 3em;
    }

    .sermons h2
    {
        font-size:15px;

        clear:left;

        margin-bottom: 0px;
    }

    .title_sermon
    {
        font-size: 14px;

        margin-top:10px;

        vertical-align:top;

        color: #222222;
    }

    .sermon:hover
    {
        background: #e7e7e7;
    }


    .title_block-views_sermon
    {
        float: left;
    }

    .speaker-image
    {
        display: inline-block;

        margin-right: 3em;

        vertical-align: top;

    }

    .speaker-image_block img
    {
        padding: 2px;

        border: 1px solid #E8E8E8;
    }

    .video_youtube
    {
        display: inline-block;

        /* margin: 5px; */
        /* padding: 5px; */
        vertical-align: top;

        /* border: 1px solid #E8E8E8; */
    }

    /* Sermon property (begin) */ /**/
        .node-title
        {
            font-size: 150%;

            margin-bottom: 1em;
        }

        .speaker-meta
        {
            font-size: 90%;
            font-weight:700;

            color: #666666;
        }

        .sermon_data
        {
            font-size: 90%;

            margin-bottom: 2em;

            color: #666666;
        }

        .audio_download_sermon
        {
            font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
            font-size: 11px;
            font-weight: 700;

            width: 100px;
            margin-top: 1em;
            padding: 8px 0;

            text-align: center;

            color: #333;
            border: 1px solid #CCC;
            border-bottom: 1px solid #BBB;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: #EEE;
            background: -moz-linear-gradient(top,#EEE 0%,#CCC 100%);
            background: -webkit-gradient(linear,0% 0%,0% 100%,from(#EEE),to(#CCC));
            text-shadow: 0 1px 0 #EEE;
        }

        .audio_download_sermon a
        {
            text-decoration: none;
        }
    /* Sermon property (end) */ /**/
/* Sermons (end) */



.views-view-grid td
{
    vertical-align: top;
}

#block-views-sermon-block-1
{
    margin-top: 10em;
}

#block-views-sermon-block-1 td
{
    padding-right: 10px;
}

